.card-wrap{
   display: flex;
   flex-wrap: wrap;
   width: 100%;  
   margin: 10px;
}

.card{
   width: 18rem;
   margin: 10px;
   
}

.icon-wrap{
   display: flex;
   justify-content: center;
   font-size: 200px;
   background-color: yellow;
   padding: 30px;
   border-radius: 6px;
}  

.card-text{
  height: 40px;
}
