.bt{
   padding: 50px; 
   border: 1px solid;
   margin-bottom: 50px;
   background-color: rgb(244, 233, 218);
} 

p{
    font-weight: bold;
    margin: 0;
    margin-bottom: 10px;
}

.backicon{
    font-size: 18px;
    margin-bottom: 10px;
    cursor: pointer;
}

.backbutton{
    font-size: 18px;
    color: blue; 
    text-decoration: none;  
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

.head-button{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.btn{
    background-color: hsl(166, 100%, 50%);
    font-size: 15px;
}

.result{
    margin: 5px;
}