.ball{
    margin-top: 100px;
    width: 200px;
    height: 200px;
    border-radius: 200px;
    background-color: darkorchid;
    animation-name: runBall;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    position: absolute; 
}

@keyframes runBall {
    0%{
        left: 0;
        top: 0;
    }
    25%{
        left: calc(100% - 200px);
        top: 0;
        background-color: aqua; 
    }
    50%{
        left: calc(100% - 200px);
        top: calc(100% - 300px);
        background-color: blue;
    }
    75%{
        left: 0;
        top: calc(100% - 300px);
        background-color: red;
    }
    100%{
        left: 0;
        top: 0;
        background-color: yellow;
    }   
} 


.head-wrap{
    display: flex;
    margin: 10px;
    max-width: auto;
    text-align: left;
    background-color: #282781;
    text-decoration: none;
}

.head-button{
    margin-bottom: -10px;
}

.backbutton{
    font-size: 18px;
    color: blue; 
    text-decoration: none;  
    padding-left: 10px;
}

.backicon{
    font-size: 18px;
    margin-bottom: 10px;
    cursor: pointer;
}

.animate {
    animation-play-state: running;
  }
